<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CRUD Municipalities</title>
    <script defer type="module" src="../js/crudMunicipalities.js"></script>
    <link rel="stylesheet" href="../css/crudPage.css">
</head>

<body>
    <div id="container">
        <h1>CRUD Operations - Municipalities</h1>
        <div id="input-container">
            <form id="create-form">
                <input type="text" id="municipality-code" placeholder="Municipality Code">
                <input type="text" id="name" placeholder="Name">
                <input type="text" id="name-en" placeholder="Name (EN)">
                <select name="region-id" id="region-id">
                    <option value="">--Choose a region--</option>
                </select>
                <input type="submit" value="Add">
                <div id="error-message"></div>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>MUNICIPALITY CODE</th>
                    <th>NAME</th>
                    <th>NAME (EN)</th>
                    <th>REGION NAME</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
        <div id="update-container" style="display:none;">
            <form id="update-form">
                <input type="hidden" id="update-id">
                <input type="text" id="update-municipality-code" placeholder="Municipality Code">
                <input type="text" id="update-name" placeholder="Name">
                <input type="text" id="update-name-en" placeholder="Name (EN)">
                <select name="region-id" id="update-region-id">
                </select>
                <div id="update-error-message"></div>
                <button id="update-btn">Update</button>
                <button id="cancel-btn" type="button">Cancel</button>
            </form>
        </div>
    </div>
</body>

</html>