<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CRUD REGIONS</title>
    <script defer type="module" src="../js/crudRegions.js"></script>
    <link rel="stylesheet" href="../css/crudPage.css">
</head>

<body>
    <div id="container">
        <h1>CRUD Operations - REGION</h1>
        <div id="input-container">
            <form id="create-form">
                <input type="text" id="region-code" placeholder="EKATTE">
                <input type="text" id="name" placeholder="Име">
                <input type="text" id="name-en" placeholder="Име (латиница)">
                <input type="submit" value="Add"></button>
                <div id="error-message"></div>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>REGION CODE</th>
                    <th>NAME</th>
                    <th>NAME (EN)</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
        <div id="update-container" style="display: none;">
            <form id="update-form">
                <input type="hidden" id="update-id">
                <input type="text" id="update-region-code" placeholder="EKATTE">
                <input type="text" id="update-name" placeholder="Име">
                <input type="text" id="update-name-en" placeholder="Име (латиница)">
                <input type="submit" value="Update">
                <div id="update-error-message"></div>
                <button type="button" id="cancel-btn">Cancel</button>
            </form>
        </div>
    </div>
</body>

</html>