<!DOCTYPE html>
<html>
<head>
    <title>Main page</title>
    <script defer src="../js/searchScript.js"></script>
    <meta charset="UTF-8"> 
</head>
<body>
    <div>
        <form id="form">
            <label for="searchInput">Search:</label>
            <input type="text" id="searchInput" placeholder="Search...">
            <input type="submit" value="SEARCH"></input>
    </div>
    
    <table id="resultTable">
        <thead>
            <tr>
                <th>EKATTE</th>
                <th>Селище</th>
                <th>Кметство</th>
                <th>Община</th>
                <th>Област</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <!-- Table rows will be dynamically populated based on the search results -->
        </tbody>
    </table>
    </body>
</html>