body, h1, h2, h3, p, table, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

#container {
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 48px;
    color: #0056b3; 
}

#input-container {
    margin-bottom: 20px;
}

input,
#update-name-input,
#update-email-input,
select {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px; 
    border: 1px solid #ccc;
}

#name-input:focus,
#email-input:focus,
#update-name-input:focus,
#update-email-input:focus,
select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#error-message {
    color: #dc3545;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="submit"], button {
    padding: 8px 16px; 
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px; 
}

button:hover {
    background-color: #3e8e41;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

#update-container {
    margin-top: 20px;
}

#update-btn {
    background-color: #2196F3;
}

#cancel-btn {
    background-color: #f44336;
}

.edit-btn {
    background-color: #ffc107;
}

.delete-btn {
    background-color: #dc3545;
    margin-left: 10px;
}
