<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CRUD Municipalities</title>
    <script defer type="module" src="../js/crudMunicipalities.js"></script>
    <link rel="stylesheet" href="../css/crudPage.css">
</head>

<body>
    <div class="navbar">
        <button onclick="location.href='/'">Search</button>
        <button onclick="location.href='crud-settlements.html'">Settlements</button>
        <button onclick="location.href='crud-town-halls.html'">Town Halls</button>
        <button onclick="location.href='crud-municipalities.html'">Municipalities</button>
        <button onclick="location.href='crud-regions.html'">Regions</button>
    </div>

    <div id="container">
        <h1>CRUD Operations - Municipalities</h1>
        <div id="input-container">
            <form id="create-form">
                <label for="municipality-code">Municipality Code:</label>
                <input type="text" id="municipality-code" placeholder="Municipality Code">
                
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Name">
                
                <label for="name-en">Name (EN):</label>
                <input type="text" id="name-en" placeholder="Name (EN)">
                
                <label for="region-id">Region:</label>
                <select name="region-id" id="region-id">
                    <option value="">Choose a region</option>
                </select>
                
                <input type="submit" value="Add">
                <div id="error-message"></div>
            </form>
        </div>
        
        <div id="update-container" style="display:none;">
            <form id="update-form">
                <input type="hidden" id="update-id">
                
                <label for="update-municipality-code">Municipality Code:</label>
                <input type="text" id="update-municipality-code" placeholder="Municipality Code">
                
                <label for="update-name">Name:</label>
                <input type="text" id="update-name" placeholder="Name">
                
                <label for="update-name-en">Name (EN):</label>
                <input type="text" id="update-name-en" placeholder="Name (EN)">
                
                <label for="update-region-id">Region:</label>
                <select name="region-id" id="update-region-id"></select>
                
                <div id="update-error-message"></div>
                <button id="update-btn">Update</button>
                <button id="cancel-btn" type="button">Cancel</button>
            </form>
        </div>

    </div>
    <div id="table-container">

    </div>
</body>

</html>