<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CRUD Regions</title>
    <script defer type="module" src="../js/crudRegions.js"></script>
    <link rel="stylesheet" href="../css/crudPage.css">
</head>

<body>
    <div class="navbar">
        <button onclick="location.href='/'">Search</button>
        <button onclick="location.href='crud-settlements.html'">Settlements</button>
        <button onclick="location.href='crud-town-halls.html'">Town Halls</button>
        <button onclick="location.href='crud-municipalities.html'">Municipalities</button>
        <button onclick="location.href='crud-regions.html'">Regions</button>
    </div>
    <div id="container">
        <h1>CRUD Operations - Regions</h1>
        <div id="input-container">
            <form id="create-form">
                <label for="region-code">Region code:</label>
                <input type="text" id="region-code" placeholder="Region code">
                
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Name">
                
                <label for="name-en">Name (EN):</label>
                <input type="text" id="name-en" placeholder="Name (EN)">
                
                <input type="submit" value="Add">
                <div id="error-message"></div>
            </form>
        </div>
        
        <div id="update-container" style="display:none;">
            <form id="update-form">
                <input type="hidden" id="update-id">
                
                <label for="update-region-code">Region code:</label>
                <input type="text" id="update-region-code" placeholder="Region code">
                
                <label for="update-name">Име:</label>
                <input type="text" id="update-name" placeholder="Име">
                
                <label for="update-name-en">Име (латиница):</label>
                <input type="text" id="update-name-en" placeholder="Име (латиница)">
                
                <input type="submit" value="Update">
                <div id="update-error-message"></div>
                <button type="button" id="cancel-btn">Cancel</button>
            </form>
        </div>
        
       

    </div>
    <div id="table-container">

    </div>
</body>

</html>