<!DOCTYPE html>
<html>

<head>
    <title>Main page</title>
    <script defer src="../js/searchScript.js"></script>
    <link rel="stylesheet" href="../css/index.css">
    <meta charset="UTF-8">
</head>

<body>
    <div class="navbar">
        <button onclick="location.href='/'">Search</button>
        <button onclick="location.href='crud-settlements.html'">Settlements</button>
        <button onclick="location.href='crud-town-halls.html'">Town Halls</button>
        <button onclick="location.href='crud-municipalities.html'">Municipalities</button>
        <button onclick="location.href='crud-regions.html'">Regions</button>
    </div>
    <div>
        <form id="form">
            <div id="form-row">
                <label for="searchInput">Search by settlement name:</label>
                <input type="text" id="searchInput" placeholder="Name">
                <input type="submit" value="SEARCH"></input>
            </div>
            <div id="errorMessage"></div>
        </form>
    </div>

    <div class="statistics">
        <div class="stat-item">
            <h3>Settlements</h3>
            <p id="settlementsCount">0</p>
        </div>
        <div class="stat-item">
            <h3>Town Halls</h3>
            <p id="townHallsCount">0</p>
        </div>
        <div class="stat-item">
            <h3>Municipalities</h3>
            <p id="municipalitiesCount">0</p>
        </div>
        <div class="stat-item">
            <h3>Regions</h3>
            <p id="regionsCount">0</p>
        </div>
    </div>

    <div id="container">
    </div>

</body>

</html>